@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: hsl(185, 75%, 39%);
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url(images/bg-pattern-top.svg),
  url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  max-width: 1000px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin: 1rem;
}

.content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -50px;
  margin-bottom: 15px;
}

.content h2 {
  font-size: 18px;
  color: hsl(229, 23%, 23%);
  margin-bottom: 10px;
}

.content span {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
  padding-left: 5px;
}

.content p {
  color: hsl(0, 0%, 59%);
  padding: 5px;
}

.footer .number {
  font-weight: 700;
}

.footer p {
  font-size: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top:  1px solid hsl(227, 10%, 46%, 0.4);
  padding: 30px 50px;
  margin-top: 30px;
}

